@import url('https://fonts.googleapis.com/css?family=Anton'' rel="stylesheet');

body {
  margin: 1px auto;
  max-width: 10000000px;
  font-family:'Anton', sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
  text-align: center;
}

body {
  background-image: url(images/holiday.gif);
  background-repeat: no-repeat;
  background-size: cover;
}
/* heading text */
h1 {
  color: white;
  font-size: 20pt
}

h3 {
  padding: 10px 0px 1px 0px;
  font-size: 20pt;
}

/* link text */
a {
color: white;
text-decoration: none;
}


/* Centers images */

img {
  margin-left: 40px;
}
